<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}" data-bs-theme="dark">

{% include header.html %}

<body
{%- if page.onLoad != null %} onLoad="{{ page.onLoad }}"
{%- elsif page.basePortions != null %} onLoad="PortionScaleUpdate()"
{%- endif -%}
>

{% include page_title.html %}
<section id="content">
{%- if page.basePortions != null %}
{%- include portion_head.html %}
{%- endif %}

{{ content }}
</section>

{% if page.basePortions != null %}
{%- include portion_js.html %}
{% endif -%}

</body>

</html>
